<{* **************************************************
 * Copyright 2019 qm-b <https://bitbucket.org/qm-b/>
 * 
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 *    http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 ***************************************************** *}>

<section class="pull-updown-30">
    <div class="container">
        <div class ="row">
            <div class="column xxsmall-12 large-10 large-offset-1">
                <!-- general admin page title -->
                <{if $acmsContents['acmsTitle']}>
                    <div class="page-title">
                        <h1><{$acmsContents['acmsTitle']}></h1>
                    </div>
                <{/if}>
            </div>
            <!-- Admin Form -->
            <{if $acmsContents['acmsForm']}>
                <div class="column xxsmall-12 large-10 large-offset-1">
                    <{include file=$acmsContents['acmsForm']['template'] form=$acmsContents['acmsForm']}>
                </div>
            <{/if}>
        </div>
    </div>
</section>
