<{* **************************************************
 * Copyright 2019 qm-b <https://bitbucket.org/qm-b/>
 * 
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 *    http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 ***************************************************** *}>

<{if isset($authorCard) && $authorCard['config']['enable_authorcard']}>
<div class="author-card">
    <div class="percentage-30">
        <img class="author-card-image" src="<{$authorCard['avatar']}>" title="<{$authorCard['username']}>" alt="" />
    </div>
    <div class="percentage-70">
        <h2 class="author-card-title"><{$authorCard['username']}></h2>
        <div class="author-card-content">
            <{if $authorCard['profile']->get('bio')}>
                <{$authorCard['profile']->get('bio')}>
            <{/if}>
        </div>
        <div class="author-card-footer">
            
            <{$authorCard['profile']->get('posts')}>
        </div>
    </div>
</div>
<{/if}>
