<{* **************************************************
 * Copyright 2019 qm-b <https://bitbucket.org/qm-b/>
 * 
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 *    http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 ***************************************************** *}>

<div class="card v1 profile-card">
    <div class="card-image">
        <img src="<{$user['avatar']}>" alt="" title="<{$user['username']}>" />
    </div>
    <div class="card-content">
        <div class="card-title">
            <a href="<{$user['itemUrl']}>" title="<{translate id="Besuchen Sie das Profil von %s" textdomain="Core" args=$user['username']}>">
                <{$user['username']}>
            </a>
        </div>
    </div>
</div>
