<{* **************************************************
 * Copyright 2019 qm-b <https://bitbucket.org/qm-b/>
 * 
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 *    http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 ***************************************************** *}>

<ul class="collection v1 v1">
    <{foreach $onliners as $onliner}>
        <li class="collection-item">
            <i aria-hidden="true" class="acms-icon acms-icon-circle text-success"></i> <span><{$onliner['username']}></span>
        </li>
    <{foreachelse}>
        <li class="collection-item">
            <{translate id="Aktuell sind keine Freunde Online"}>
        </li>
    <{/foreach}>
</ul>
