<{* **************************************************
 * Copyright 2019 qm-b <https://bitbucket.org/qm-b/>
 * 
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 *    http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 ***************************************************** *}>

<div class="profile-comment row full">
    <div class="column xxsmall-4">
        <img class="circle" title="<{$comment->user['username']}>" alt="" src="<{$comment->user['avatar']}>" />
    </div>
    <div class="column xxsmall-8">
        <p><{$comment->body}></p>
        <small>
            <i aria-hidden='true' class="acms-icon acms-icon-calendar"></i> 
            <span><{$comment->pdate}></span>
        </small>
    </div>
</div>
