<{* **************************************************
 * Copyright 2019 qm-b <https://bitbucket.org/qm-b/>
 * 
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 *    http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 ***************************************************** *}>

<div class="modal in" id="module-edit-<{$module.id}>" tabindex="-1" role="dialog" aria-labelledby="module-edit-<{$module.id}>-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="content<{if !$acmsData->deviceIsMobile}> large<{/if}>">
            <form role="form" <{$form.attributes}> data-module="view/form/model-form">
                <div class="header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="src-only"><{translate id="Schließen" textdomain="Core"}></span>
                    </button>
                    <h4 class="title" id="module-edit-<{$module.id}>-title"><{$form.title}></h4>
                </div>
                <div class="main text-left">
                    <div class="form-wrapper">
                        <{if $form.title}>
                            <legend class="hidden"><{$form.title}></legend>
                        <{/if}>
                        <{foreach $form.fields as $field}>
                            <{include file=$field['template'] field=$field}>
                        <{/foreach}>
                        </div>
                </div>
                <div class="footer">
                    <{if $form.buttons}>
                        <{include file=$form['buttons']['template'] field=$form['buttons']}>
                    <{/if}>
                </div>
            </form>
        </div>
    </div>
</div>
