<{* **************************************************
 * Copyright 2019 qm-b <https://bitbucket.org/qm-b/>
 * 
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 *    http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 ***************************************************** *}>

<div class="alert v2 warning bordered">
    <i class="acms-icon acms-icon-exclamation-triangle"></i>
    <div class="alert-title">
        <h4 class="title"><{$message.title}></h4>
    </div>
    <div class="alert-content">
        <form role="form" <{$message['form']['attributes']}>>
            <p><{$message.message}></p>
            <{* include file=$message.form.template form=$message.form *}>
            <{foreach $message['form']['fields'] as $field}>
                <{include file=$field['template'] field=$field}>
            <{/foreach}>
        
            <{include $message['form']['buttons']['template'] field=$message['form']['buttons']}>
        </form>
    </div>
</div>
