<{* **************************************************
 * Copyright 2019 qm-b <https://bitbucket.org/qm-b/>
 * 
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 *    http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 ***************************************************** *}>

<div class="feed collection<{if $feeds->title}> with-header<{/if}>">
    <{if $feeds->title}>
        <div class="collection-header">
            <{$feeds->title}>
            <{if $feeds->description}>
                <p><{$feeds->description}></p>
            <{/if}>
        </div>
    <{/if}>
    <{foreach $feeds->items as $item}>
        <{include file="acmsfile:Core|feeds/reader/FeedItem.tpl" item=$item}>
    <{/foreach}>
</div>
