<{* **************************************************
 * Copyright 2019 qm-b <https://bitbucket.org/qm-b/>
 * 
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 *    http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 ***************************************************** *}>

<div class="content-block v5 default">
    <h2>
        <i aria-hidden="true" class="acms-icon acms-icon-lightbulb regular text-muted"></i>
        <{if $acmsContents['acmsInfoTitle']}>
            <span><{$acmsContents['acmsInfoTitle']}></span>
        <{else}>
            <span><{translate id="Info" textdomain="Core"}></span>
        <{/if}>
    </h2>
    <p><{$acmsContents['acmsInfo']}></p>
</div>
