<{* **************************************************
 * Copyright 2018 qm-b <https://bitbucket.org/qm-b/>
 * 
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 *    http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 ***************************************************** *}>

<div class="item">
	<i class="middle aligned large acms-icon acms-icon-comment-alt"></i>
	<div class="content">
		<{assign var="custom" value=$entry->getCustomData()}>
		<a class="heading" href="<{$entry->getUrl()}>" title="<{$entry->getTitle()}>">
			<{$custom['owner']['user']['username']}>/<{$custom['project']['title']}> 
			<{if $entry->getLogCase() == 2}>
				<span class="xsmall success label v2">neu</span>
			<{elseif $entry->getLogCase() == 3}>
				<span class="xsmall info label v2">aktualisiert</span>
			<{elseif $entry->getLogCase() == 4}>
				<span class="xsmall warning label v2">entfernt</span>
			<{/if}>
		</a>
		<div class="description"><{$entry->getLogDate('pdate-relative')}></div>
	</div>
</div>
