<{* **************************************************
 * Copyright 2019 qm-b <https://bitbucket.org/qm-b/>
 * 
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 *    http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 ***************************************************** *}>

<section itemscope="" itemtype="http://schema.org/WebPage">
    <{if $acmsContents['acmsBreadCrumb']}>
        <div class="container fixed-1200">
            <div class="row full xxsmall-push-updown-25">
                <div class="column xxsmall-12">
                    <{include file=$acmsContents['acmsBreadCrumb']['template']}>
                </div>
            </div>
        </div>
    <{/if}>
    <section class="page-section v1 primary">
        <div class="container fixed-1200">
            <div class="row full xxsmall-push-updown-30">
                <div class="column xxsmall-12">
                    <div class="page-title">
                        <h1>
                            <i aria-hidden="true" class="acms-icon acms-icon-tag"></i>&nbsp;
                            <{$acmsContents->get('acmsTitle')}>
                        </h1>
                        <p class="lead">Hier finden Sie alle Inhalte, die zu dem Tag <{$acmsContents->tag['title']}></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container fixed-1200">
            <div class="row full xxsmall-push-updown-30">
                <div class="column xxsmall-12 medium-12">
                    <h3><{translate id="Es wurden %s Inhalte gezählt." textdomain="Core" args=[$acmsContents->get('totalItems')]}></h3>
                    <div class="cards" data-cssfile="media/css/ui/cards">
                        <{if $acmsContents->get('items')}>
                            <{foreach $acmsContents->get('items') as $item}>
                                <{$item}>
                            <{/foreach}>
                        <{/if}>
                    </div>
                </div>
            </div>
            <div class="row full xxsmall-push-updown-30">
                <div class="column xxsmall-12">
                    <div class="content-block v6 push-30">
                        <h2><i aria-hidden="true" class="acms-icon acms-icon-lightbulb regular text-muted"></i> Nich das richtige gefunden?</h2>
                        <p>
                            Sie haben nicht das richtige gefunden? Benutzen Sie 
                            unsere <a href="<{generateUrl name="core_search"}>" title="Suchen Sie auf unserer Webseite">Website-Suche</a> 
                            um passende Ergebnisse zu finden
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
